{% extends 'base.html.twig' %}
{# this view adds a navigation bar that is visible when the user is logged in #}

{% block navigation %}
    <div id="navigation">
        <a href=" {{ path('show_conversations') }}"><i class="fa fa-envelope messageIcon"></i></a>
        <p class="clear"></p>
        Welcome {{ app.security.getToken().getUser().username }}!
        ({{ app.security.getToken().getUser().getRoles()|first.getName() }})
        <form action="{{  path('logout') }}">
             <button type="submit" class="navButton">Logout</button>
         </form>
         <form action="{{ path('show_categories') }}">
             <button type="submit"  class="navButton" >Categories</button>
         </form>
        {% if is_granted('ROLE_ADMIN') %}
            <form  action="{{ path('admin_panel') }}">
                <button id="admin-button" type="submit">Admin Panel</button>
            </form>
        {% endif %}
        <p class="clear"></p>

    </div>
 {% endblock %}

{% block body %}

{% endblock %}