{% extends 'loggedin.html.twig' %}

{% block title %}Thread Overview{% endblock %}


{% block body %}
    <form action="{{  path('create_new_thread', {'id': category.id}) }}">
        <button type="submit" id="create-thread-button">Create Thread</button>
    </form>
    <p class="clear"></p>
    <div id="category-display">{{ category.name }} </div>
    <div class="table">
    <div class="heading">
        <div class="heading-cell">
        </div>
        <div class="heading-cell">
            Replies
            <br>Views
        </div>
        <div class="heading-cell">
            Latest Activity
        </div>
        <div class="heading-cell">
           Admin
        </div>
    </div>
    {% for article in pagination %}
        <div class="row">
            <div class="cell">
                <div class="iconCell">
                    <i class="fa fa-comments threadIcon"></i>
                </div>
                <a href="{{  path('show_thread', {'id':article.id}) }}" title="{{ article.description }}">{{ article.title }}</a>
                <br> {{ article.user.username }}, {{ article.creationDate|date("F jS \\a\\t g:ia") }}</br>
            </div>
            <div class="cell">
                {{ article.posts|length }}
                <br>{{ article.views }}
            </div>
            <div class="cell">
                {{ article.lastModifiedDate|date("F jS \\a\\t g:ia")}}
            </div>
            <div class="cell">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('delete_thread', {'id':article.id}) }}"><i class="fa fa-trash belowPostIcon"></i></a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    {% block javascripts %}
    <script type="text/javascript">
            $(function() {
                $( document ).tooltip();
            });
        </script>
    {% endblock %}

{% endblock %}

