{% extends 'loggedin.html.twig' %}

{% block title %}Thread{% endblock %}


{% block body %}

    <a href="{{ path('show_category', {'id':thread.category.id}) }}"><i class="fa fa-arrow-circle-left belowPostIcon"></i></a>
    <p class="clear"></p>
    <div id="category-display"> {{ thread.title }} </div>
    <div class="table">
        <div class="row">
            {% set user = thread.user %}
            {% include ':default:profile-view.html.twig' %}
            <div class="post-cell">
                <p>{{ thread.description }}, {{ thread.creationDate|date("F jS \\a\\t g:ia")  }}</p>
            </div>
        </div>
        <p></p>
    {% for post in posts %}
        <div class="row">
            {% set user = post.user %}
            {% include ':default:profile-view.html.twig' %}
            <div class="post-cell">
                ID: {{ post.id }}
                <p></p>
                {{ post.title }}
                <p></p>
                {{ post.content|nl2br }}
                <p></p>
                {{ post.date|date("F jS \\a\\t g:ia") }}  </br>
                <div class="iconCell">
                    {% if app.security.getToken().getUser() == post.user %}
                        <a href="{{ path('edit_post', {'id':post.id}) }}"><i class="fa fa-pencil-square-o belowPostIcon"></i></a>
                    {% endif %}
                </div>
                <div class="iconCell">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('delete_post', {'id':post.id}) }}"><i class="fa fa-trash belowPostIcon"></i></a>
                    {% endif %}
                </div>

            </div>
        </div>
        <p></p>

{% endfor %}
    </div>
    <p></p>
    {% include ':default:post-new.html.twig' %}
{% endblock %}



