{% extends 'loggedin.html.twig' %}

{% block title %}Thread{% endblock %}


{% block body %}

    <a href="{{ path('show_category', {'id':thread.category.id}) }}"><i class="fa fa-arrow-circle-left leaveThreadIcon"></i></a>
    <p class="clear"></p>
    <div id="category-display"> {{ thread.title }} </div>
    <div class="table">
        <div class="row">
            <div class="description-cell">
                <p>{{ thread.description }}</p>
            </div>
            <div class="post-cell">
                {{ thread.creationDate|date("F jS \\a\\t g:ia")  }}
            </div>
        </div>

        <p></p>
    {% for article in pagination %}
        <div class="row">
            {% set user = article.user %}
            {% include ':default:profile-view.html.twig' %}
            <div class="post-cell">
                ID: {{ article.id }}
                <p></p>
                {{ article.title }}
                <p></p>
                {{ article.content|nl2br }}
                <p></p>
                <div class="light">
                {{ article.date|date("F jS \\a\\t g:ia") }}  </br>
                </div>
                <div class="iconCell">
                    {% if app.security.getToken().getUser() == article.user %}
                        <a href="{{ path('edit_post', {'id':article.id}) }}"><i class="fa fa-pencil-square-o belowPostIcon"></i></a>
                    {% endif %}
                </div>
                <div class="iconCell">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('delete_post', {'id':article.id}) }}"><i class="fa fa-trash belowPostIcon"></i></a>
                    {% endif %}
                </div>

            </div>
        </div>
        <p></p>

{% endfor %}
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    <p></p>
    {% include ':default:post-new.html.twig' %}
{% endblock %}



