{% extends 'loggedin.html.twig' %}

{% block title %}Thread{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="table">
        <div class="row">
            <div class="cell">
                {{ form_label(form.thread.title) }}
            </div>
            <div class="cell">
                {{ form(form.thread.title) }}
            </div>
        </div>
        <div class="row">
            <div class="cell">
                {{ form_label(form.thread.description) }}
            </div>
            <div class="cell">
                {{ form_widget(form.thread.description) }}
            </div>
        </div>
        <div class="row">
            <div class="cell">
                {{ form_label(form.post.title) }}
            </div>
            <div class="cell">
                {{ form(form.post.title) }}
            </div>
        </div>
        <div class="row">
            <div class="cell">
                {{ form_label(form.post.content) }}
            </div>
            <div class="cell">
                {{ form_widget(form.post.content) }}
            </div>
        </div>
        {{ form_row(form._token) }}
        <div id="button">
            {{ form_widget(form.button) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}