{% extends 'loggedin.html.twig' %}

{% block title %}Thread{% endblock %}

{% block header %}Create Thread{% endblock %}
{% block body %}
{{ form_start(form) }}
{{ form_errors(form) }}

<div class="table">
    <div class="row">
        <div class="cell">
            {{ form_label(form.title) }}
        </div>
        <div class="cell">
            {{ form(form.title) }}
        </div>
    </div>
    <div class="row">
        <div class="cell">
            {{ form_label(form.description) }}
        </div>
        <div class="cell">
            {{ form_widget(form.description) }}
        </div>
    </div>
    {{ form_row(form._token) }}
    {{ form_widget(form.save) }}
</div>
{{ form_end(form) }}
{% endblock %}